@page "/"

<div class="container"  style="text-align:center;">
    <div class="row">
        <div class="col-12">
            <h1>Wheather Forecast!</h1>
            <a href="/fetchdata"><img src="./images/web7day.jpg" width="1000" /></a>


        </div>
    </div>
</div>

